# Samanlikning av Pandas og SQL

Importere pandas og numpy

In [2]:
import pandas as pd
import numpy as np

Bruker det inkluderte datasettet

In [5]:
observations = pd.read_csv("data/MMSDB_observations_1995-2019-v2.csv", delimiter="$")

In [7]:
observations.columns

Index(['eventID', 'basisOfRecord', 'coordinateUncertaintyInMeters',
       'decimalLatitude', 'decimalLongitude', 'eventDate', 'eventRemarks',
       'habitat', 'individualCount', 'licence', 'locality', 'locationRemarks',
       'scientificName', 'taxonID', 'dynamicProperties.adult',
       'dynamicProperties.adultF', 'dynamicProperties.adultM',
       'dynamicProperties.bearCubs', 'dynamicProperties.comment',
       'dynamicProperties.cubCalfPup', 'dynamicProperties.deadAlive',
       'dynamicProperties.endDate', 'dynamicProperties.infoComment',
       'dynamicProperties.organisation', 'dynamicProperties.otherSpecies',
       'dynamicProperties.platform', 'dynamicProperties.platformComment',
       'dynamicProperties.polarBearDen', 'dynamicProperties.editorComment',
       'dynamicProperties.editorDate', 'dynamicProperties.editorQualityTest'],
      dtype='object')

## SELECT

```sql
select 
    eventID, 
    eventDate, 
    scientificName
from observations;
```

I pandas sender ein inn ei liste med kolonner til dataframen:

In [9]:
observations[["eventID", "eventDate", "scientificName"]]

,eventID,eventDate,scientificName
0,275d07fc-7cd9-cd10-7731-b01ed6fec944,1900-01-11T12:00:00Z,Delphinapterus leucas
1,275d07fc-7cd9-cd10-7731-b01ed6ddcbb4,1993-03-15T12:00:00Z,Ursus maritimus
2,275d07fc-7cd9-cd10-7731-b01ed6ddd89b,1995-04-01T12:00:00Z,Ursus maritimus
3,275d07fc-7cd9-cd10-7731-b01ed6dde77e,1998-08-01T12:00:00Z,Ursus maritimus
4,275d07fc-7cd9-cd10-7731-b01ed668c682,1998-08-22T12:00:00Z,Pusa hispida
...,...,...,...
22873,e882490d-c82d-9cb7-531f-4c792d8cfdcf,NaN,NaN
22874,e882490d-c82d-9cb7-531f-4c792d8d57a9,NaN,NaN
22875,e882490d-c82d-9cb7-531f-4c792d8dc5cc,NaN,NaN
22876,e882490d-c82d-9cb7-531f-4c792d8a8c60,NaN,NaN
22877,618f9813-c357-46a1-a5af-a62ba63e63e5,NaN,Ursus maritimus

## WHERE

Filtrering i SQL gjerast ved bruk av `WHERE`:

```sql
SELECT 
    *
FROM observations
WHERE individualCount > 200
```

In [12]:
observations[(observations["habitat"] == "ice")]

,eventID,basisOfRecord,coordinateUncertaintyInMeters,decimalLatitude,decimalLongitude,eventDate,eventRemarks,habitat,individualCount,licence,...,dynamicProperties.endDate,dynamicProperties.infoComment,dynamicProperties.organisation,dynamicProperties.otherSpecies,dynamicProperties.platform,dynamicProperties.platformComment,dynamicProperties.polarBearDen,dynamicProperties.editorComment,dynamicProperties.editorDate,dynamicProperties.editorQualityTest
19,275d07fc-7cd9-cd10-7731-b01ed66b6ef3,HumanObservation,NaN,79.75100,14.09300,2000-07-28T12:00:00Z,NaN,ice,17.0,All rights reserved,...,2000-08-15T12:00:00Z,"Old id:209, field activity id:36 Platform: Shi...",NaN,NaN,ship,Prof Multanovskiy,NaN,NaN,2020-10-20T12:00:00Z,NaN
72,275d07fc-7cd9-cd10-7731-b01ed667f914,HumanObservation,NaN,77.53900,20.87000,2000-08-12T12:00:00Z,NaN,ice,1.0,All rights reserved,...,2000-08-15T12:00:00Z,"Old id:257, field activity id:36 Platform: Shi...",NaN,NaN,ship,Prof Multanovskiy,NaN,NaN,2020-10-20T12:00:00Z,NaN
261,275d07fc-7cd9-cd10-7731-b01ed66f2a3e,HumanObservation,NaN,77.36200,23.56500,2003-04-24T12:00:00Z,A lot of individuals,ice,NaN,All rights reserved,...,2003-05-21T12:00:00Z,"Old id:318, field activity id:40 Platform: Shi...",Norsk Polarinstitutt,NaN,ship,Lance,NaN,NaN,2020-10-20T12:00:00Z,NaN
264,275d07fc-7cd9-cd10-7731-b01ed66f47ad,HumanObservation,NaN,79.00700,11.72800,2003-05-01T12:00:00Z,A lot of individuals,ice,NaN,All rights reserved,...,2003-05-21T12:00:00Z,"Old id:321, field activity id:40 Platform: Shi...",Norsk Polarinstitutt,NaN,ship,Lance,NaN,NaN,2020-10-20T12:00:00Z,NaN
305,275d07fc-7cd9-cd10-7731-b01ed6715686,HumanObservation,NaN,80.17500,9.73000,2003-07-02T12:00:00Z,NaN,ice,8.0,All rights reserved,...,2003-07-13T12:00:00Z,"Old id:386, field activity id:42 Platform: Shi...",NaN,NaN,ship,Prof Molchanov,NaN,NaN,2020-10-20T12:00:00Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22556,92f0142f-564c-4407-b571-e399221ce2f8,HumanObservation,NaN,78.96800,22.91400,2019-09-01T12:00:00Z,Mother and pup on ice,ice,2.0,All rights reserved,...,2019-09-02T12:00:00Z,hondius,Oceanwide Expeditions,NaN,NaN,Hondius,NaN,NaN,2020-10-20T12:00:00Z,NaN
22558,3797a09e-c707-47d3-b795-6943c7a33625,HumanObservation,NaN,79.09300,22.65400,2019-09-01T12:00:00Z,NaN,ice,1.0,All rights reserved,...,2019-09-02T12:00:00Z,hondius,Oceanwide Expeditions,NaN,NaN,Hondius,NaN,NaN,2020-10-20T12:00:00Z,NaN
22576,108e7a17-d9f7-4fc8-8338-79090341f526,HumanObservation,NaN,NaN,NaN,2019-09-04T00:00:00Z,Bamse dreper kvithval unge.,ice,1.0,All rights reserved,...,2019-09-04T00:00:00Z,NaN,lydstudio@mac.com,NaN,NaN,NaN,NaN,NaN,2023-11-03T00:00:00Z,"dateEventFormatCorrected, geopointAccuracyUnkn..."
22675,65aa5419-ea8c-aefb-a6ff-a4f86c162f54,HumanObservation,NaN,78.15000,3.45000,2106-05-28T12:00:00Z,seen at the same time as the walrus,ice,1.0,All rights reserved,...,2016-08-13T12:00:00Z,cystophora cristata,"128, Newton Road, Newton, Swansea. SA3 4ST UK",NaN,NaN,MV Ortelius & MV Silver Explorer,NaN,NaN,NaN,NaN
22681,5c60fc3a-5304-1ebd-37a3-a0f83fba028c,HumanObservation,NaN,79.05067,19.96644,3018-07-01T12:00:00Z,NaN,ice,2.0,All rights reserved,...,2018-07-05T12:00:00Z,odobenus rosmarus,NaN,NaN,NaN,Sjoveien,NaN,NaN,NaN,NaN

Ekvivalent med å sende inn en `Series` med `True`/`False`-verdier, og returner alle radene som evalueres til `True`.

In [13]:
is_ice_habitat = observations["habitat"] == "ice"
is_ice_habitat

0        False
1        False
2        False
3        False
4        False
         ...
22873    False
22874    False
22875    False
22876    False
22877    False
Name: habitat, Length: 22878, dtype: bool

In [14]:
is_ice_habitat.value_counts()

habitat
False    19420
True      3458
Name: count, dtype: int64

In [15]:
observations[is_ice_habitat]

,eventID,basisOfRecord,coordinateUncertaintyInMeters,decimalLatitude,decimalLongitude,eventDate,eventRemarks,habitat,individualCount,licence,...,dynamicProperties.endDate,dynamicProperties.infoComment,dynamicProperties.organisation,dynamicProperties.otherSpecies,dynamicProperties.platform,dynamicProperties.platformComment,dynamicProperties.polarBearDen,dynamicProperties.editorComment,dynamicProperties.editorDate,dynamicProperties.editorQualityTest
19,275d07fc-7cd9-cd10-7731-b01ed66b6ef3,HumanObservation,NaN,79.75100,14.09300,2000-07-28T12:00:00Z,NaN,ice,17.0,All rights reserved,...,2000-08-15T12:00:00Z,"Old id:209, field activity id:36 Platform: Shi...",NaN,NaN,ship,Prof Multanovskiy,NaN,NaN,2020-10-20T12:00:00Z,NaN
72,275d07fc-7cd9-cd10-7731-b01ed667f914,HumanObservation,NaN,77.53900,20.87000,2000-08-12T12:00:00Z,NaN,ice,1.0,All rights reserved,...,2000-08-15T12:00:00Z,"Old id:257, field activity id:36 Platform: Shi...",NaN,NaN,ship,Prof Multanovskiy,NaN,NaN,2020-10-20T12:00:00Z,NaN
261,275d07fc-7cd9-cd10-7731-b01ed66f2a3e,HumanObservation,NaN,77.36200,23.56500,2003-04-24T12:00:00Z,A lot of individuals,ice,NaN,All rights reserved,...,2003-05-21T12:00:00Z,"Old id:318, field activity id:40 Platform: Shi...",Norsk Polarinstitutt,NaN,ship,Lance,NaN,NaN,2020-10-20T12:00:00Z,NaN
264,275d07fc-7cd9-cd10-7731-b01ed66f47ad,HumanObservation,NaN,79.00700,11.72800,2003-05-01T12:00:00Z,A lot of individuals,ice,NaN,All rights reserved,...,2003-05-21T12:00:00Z,"Old id:321, field activity id:40 Platform: Shi...",Norsk Polarinstitutt,NaN,ship,Lance,NaN,NaN,2020-10-20T12:00:00Z,NaN
305,275d07fc-7cd9-cd10-7731-b01ed6715686,HumanObservation,NaN,80.17500,9.73000,2003-07-02T12:00:00Z,NaN,ice,8.0,All rights reserved,...,2003-07-13T12:00:00Z,"Old id:386, field activity id:42 Platform: Shi...",NaN,NaN,ship,Prof Molchanov,NaN,NaN,2020-10-20T12:00:00Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22556,92f0142f-564c-4407-b571-e399221ce2f8,HumanObservation,NaN,78.96800,22.91400,2019-09-01T12:00:00Z,Mother and pup on ice,ice,2.0,All rights reserved,...,2019-09-02T12:00:00Z,hondius,Oceanwide Expeditions,NaN,NaN,Hondius,NaN,NaN,2020-10-20T12:00:00Z,NaN
22558,3797a09e-c707-47d3-b795-6943c7a33625,HumanObservation,NaN,79.09300,22.65400,2019-09-01T12:00:00Z,NaN,ice,1.0,All rights reserved,...,2019-09-02T12:00:00Z,hondius,Oceanwide Expeditions,NaN,NaN,Hondius,NaN,NaN,2020-10-20T12:00:00Z,NaN
22576,108e7a17-d9f7-4fc8-8338-79090341f526,HumanObservation,NaN,NaN,NaN,2019-09-04T00:00:00Z,Bamse dreper kvithval unge.,ice,1.0,All rights reserved,...,2019-09-04T00:00:00Z,NaN,lydstudio@mac.com,NaN,NaN,NaN,NaN,NaN,2023-11-03T00:00:00Z,"dateEventFormatCorrected, geopointAccuracyUnkn..."
22675,65aa5419-ea8c-aefb-a6ff-a4f86c162f54,HumanObservation,NaN,78.15000,3.45000,2106-05-28T12:00:00Z,seen at the same time as the walrus,ice,1.0,All rights reserved,...,2016-08-13T12:00:00Z,cystophora cristata,"128, Newton Road, Newton, Swansea. SA3 4ST UK",NaN,NaN,MV Ortelius & MV Silver Explorer,NaN,NaN,NaN,NaN
22681,5c60fc3a-5304-1ebd-37a3-a0f83fba028c,HumanObservation,NaN,79.05067,19.96644,3018-07-01T12:00:00Z,NaN,ice,2.0,All rights reserved,...,2018-07-05T12:00:00Z,odobenus rosmarus,NaN,NaN,NaN,Sjoveien,NaN,NaN,NaN,NaN

På same måte som i SQL, med `OR` og `AND`, kan fleire betingelsar brukast i pandas ved bruk av `|` (`OR`) og `&` (`AND`)

```sql
SELECT *
FROM observations
WHERE individualCount > 200 AND habitat = 'ice'
```

In [11]:
observations[(observations["individualCount"] > 200) & (observations["habitat"] == "ice")]

,eventID,basisOfRecord,coordinateUncertaintyInMeters,decimalLatitude,decimalLongitude,eventDate,eventRemarks,habitat,individualCount,licence,...,dynamicProperties.endDate,dynamicProperties.infoComment,dynamicProperties.organisation,dynamicProperties.otherSpecies,dynamicProperties.platform,dynamicProperties.platformComment,dynamicProperties.polarBearDen,dynamicProperties.editorComment,dynamicProperties.editorDate,dynamicProperties.editorQualityTest
1355,275d07fc-7cd9-cd10-7731-b01ed6800545,HumanObservation,NaN,75.605050,4.293633,2005-08-02T12:00:00Z,"At least 2000 individuals on drift ice, the 2 ...",ice,2000.0,All rights reserved,...,2005-08-08T12:00:00Z,"Old id:1121, field activity id:52 Platform: Sh...",NaN,NaN,ship,Vistamar,NaN,NaN,2020-10-20T12:00:00Z,individualCountCorrected
1783,275d07fc-7cd9-cd10-7731-b01ed69bcb0e,HumanObservation,NaN,77.133333,19.666667,2006-06-12T12:00:00Z,Minimum estimate,ice,250.0,All rights reserved,...,2006-10-01T12:00:00Z,"Old id:1746, field activity id:77 Platform: Sh...",NaN,NaN,ship,MV Explorer and Prof Multanovskiy,NaN,NaN,2020-10-20T12:00:00Z,NaN
1879,275d07fc-7cd9-cd10-7731-b01ed69bd93c,HumanObservation,NaN,76.983333,14.000000,2006-07-01T12:00:00Z,several large groups,ice,1000.0,All rights reserved,...,2006-10-01T12:00:00Z,"Old id:1749, field activity id:77 Platform: Sh...",NaN,NaN,ship,MV Explorer and Prof Multanovskiy,NaN,NaN,2020-10-20T12:00:00Z,NaN
2220,275d07fc-7cd9-cd10-7731-b01ed694167c,HumanObservation,NaN,81.200000,17.133333,2006-08-06T12:00:00Z,NaN,ice,500.0,All rights reserved,...,2006-08-31T12:00:00Z,"Old id:1506, field activity id:65 Platform: Sh...",NaN,NaN,ship,MV Polar Star,NaN,NaN,2020-10-20T12:00:00Z,NaN
3123,275d07fc-7cd9-cd10-7731-b01ed6b42b91,HumanObservation,NaN,76.900000,14.950000,2007-06-24T12:00:00Z,several thousand,ice,1000.0,All rights reserved,...,2007-06-28T12:00:00Z,"Old id:2502, field activity id:94 Platform: Sh...",NaN,NaN,ship,MV Hanseatic,NaN,NaN,2020-10-20T12:00:00Z,NaN
3498,e51196a0-557d-068e-3204-5e0255666fe5,HumanObservation,NaN,75.121667,-9.616167,2007-07-17T12:00:00Z,"On the ice, floes app. 10-30 m. Lot of faeces ...",ice,500.0,All rights reserved,...,2007-08-02T12:00:00Z,"Old id:6662, field activity id:288 Platform: ,...",NaN,NaN,NaN,rv lance,NaN,NaN,2020-10-20T12:00:00Z,NaN
7966,e51196a0-557d-068e-3204-5e025541d591,HumanObservation,NaN,76.133000,17.250000,2010-06-14T12:00:00Z,"M & F, certainly subad too, 1 Norwegian whalin...",ice,10000.0,All rights reserved,...,2010-06-18T12:00:00Z,"Old id:8248, field activity id:336 Platform: ,...",NaN,NaN,NaN,ms stockholm,NaN,duplicate of 275d07fc-7cd9-cd10-7731-b01ed6ff1...,2020-10-20T12:00:00Z,duplicate
7967,275d07fc-7cd9-cd10-7731-b01ed6ff141d,HumanObservation,NaN,76.133000,17.250000,2010-06-14T12:00:00Z,"M & F, certainly subad too, 1 Norwegian whalin...",ice,10000.0,All rights reserved,...,2010-06-18T12:00:00Z,"Old id:7366, field activity id:302 Platform: ,...",NaN,NaN,NaN,ms stockholm,NaN,NaN,2020-10-20T12:00:00Z,NaN
14009,ef860740-d5fc-4b0a-969b-3d2c9c1c4295,HumanObservation,NaN,78.412500,17.094200,2013-06-13T12:00:00Z,"4+ NM of fast-ice left. Not less than 250, may...",ice,250.0,All rights reserved,...,2013-06-14T12:00:00Z,"Old id:15741, field activity id:548 Platform: ...",NaN,NaN,NaN,ms stockholm,NaN,NaN,2020-10-20T12:00:00Z,NaN
15714,ef860740-d5fc-4b0a-969b-3d2c9c773642,HumanObservation,NaN,78.691667,16.541667,2014-06-13T12:00:00Z,NaN,ice,290.0,All rights reserved,...,2014-06-14T12:00:00Z,pusa hispida,"Tallship company, Zevenhuizen 52, 8801 AW Fran...",NaN,NaN,antigua@tallship-company.com,NaN,NaN,2020-10-20T12:00:00Z,NaN
16219,ef860740-d5fc-4b0a-969b-3d2c9c5c12ed,HumanObservation,NaN,78.900000,27.350000,2014-07-18T12:00:00Z,"W to pos. 78,90 N & 23,5 E - along same ice ed...",ice,500.0,All rights reserved,...,2014-08-24T12:00:00Z,phoca groenlandica,NaN,NaN,NaN,M/S Malmö,NaN,NaN,2020-10-20T12:00:00Z,NaN
17178,2cded4c8-611e-7e35-ff91-216a06188c97,HumanObservation,NaN,76.676200,15.412900,2015-05-31T12:00:00Z,stretched out over several miles of sea ice be...,ice,500.0,All rights reserved,...,2015-06-05T12:00:00Z,phoca groenlandica,"Tallship company, Zevenhuizen 52, 8801 AW Fran...",NaN,NaN,antigua@tallship-company.com,NaN,NaN,2020-10-20T12:00:00Z,NaN
18363,2cded4c8-611e-7e35-ff91-216a06282fb2,HumanObservation,NaN,80.230700,33.546300,2015-09-12T12:00:00Z,"Minimum number, could have been double that ea...",ice,250.0,All rights reserved,...,2015-09-17T12:00:00Z,odobenus rosmarus,NaN,NaN,NaN,M/S Stockholm,NaN,NaN,2020-10-20T12:00:00Z,NaN
19692,5c60fc3a-5304-1ebd-37a3-a0f83f774a9c,HumanObservation,NaN,76.970000,19.720000,2017-06-21T12:00:00Z,"alla ages, all over, on land and in water",ice,700.0,All rights reserved,...,2017-06-23T12:00:00Z,phoca groenlandica,PolarQuest - www.polarquest.se,NaN,NaN,m/s Stockholm,NaN,NaN,2020-10-20T12:00:00Z,NaN
20125,5c60fc3a-5304-1ebd-37a3-a0f83f76d001,HumanObservation,NaN,79.213490,24.201620,2017-07-25T12:00:00Z,Around Bråsvellbreen and further up north-west...,ice,300.0,All rights reserved,...,2017-07-30T12:00:00Z,odobenus rosmarus,Natural World Safaris,NaN,NaN,MS Freya,NaN,NaN,2020-10-20T12:00:00Z,NaN
21063,5c60fc3a-5304-1ebd-37a3-a0f83f7c179d,HumanObservation,NaN,81.050000,10.550000,2018-07-04T12:00:00Z,NaN,ice,2000.0,All rights reserved,...,2018-07-11T12:00:00Z,phoca groenlandica,NaN,NaN,NaN,SEA ENDURANCE,NaN,NaN,2020-10-20T12:00:00Z,NaN
22291,21642432-3a70-45c9-876c-6ced63c1890f,HumanObservation,NaN,79.234560,23.147140,2019-08-08T12:00:00Z,NaN,ice,250.0,All rights reserved,...,2019-08-14T12:00:00Z,ms quest,"Manda Lundstrom,",NaN,NaN,MS Quest,NaN,NaN,2020-10-20T12:00:00Z,geopointCorrected

`NULL`-verdier kan sjekkes ved bruk av `isna()`, eller `notna()` for det motsatte tilfellet.

In [16]:
observations[observations["dynamicProperties.organisation"].notna()]

,eventID,basisOfRecord,coordinateUncertaintyInMeters,decimalLatitude,decimalLongitude,eventDate,eventRemarks,habitat,individualCount,licence,...,dynamicProperties.endDate,dynamicProperties.infoComment,dynamicProperties.organisation,dynamicProperties.otherSpecies,dynamicProperties.platform,dynamicProperties.platformComment,dynamicProperties.polarBearDen,dynamicProperties.editorComment,dynamicProperties.editorDate,dynamicProperties.editorQualityTest
89,275d07fc-7cd9-cd10-7731-b01ed6694e81,HumanObservation,NaN,79.625000,21.000000,2002-07-24T12:00:00Z,Several small groups,NaN,100.0,All rights reserved,...,2002-08-20T12:00:00Z,"Old id:310, field activity id:38 Platform: Shi...",Norsk Polarinstitutt,NaN,ship,Arctica,NaN,NaN,2020-10-20T12:00:00Z,NaN
90,275d07fc-7cd9-cd10-7731-b01ed6694e3e,HumanObservation,NaN,79.625000,20.000000,2002-07-24T12:00:00Z,Females and calves,water,50.0,All rights reserved,...,2002-08-20T12:00:00Z,"Old id:309, field activity id:38 Platform: Shi...",Norsk Polarinstitutt,NaN,ship,Arctica,NaN,NaN,2020-10-20T12:00:00Z,NaN
91,275d07fc-7cd9-cd10-7731-b01ed6695c1e,HumanObservation,NaN,79.563333,38.000000,2002-07-24T12:00:00Z,NaN,NaN,15.0,All rights reserved,...,2002-08-20T12:00:00Z,"Old id:311, field activity id:38 Platform: Shi...",Norsk Polarinstitutt,NaN,ship,Arctica,NaN,NaN,2020-10-20T12:00:00Z,NaN
256,275d07fc-7cd9-cd10-7731-b01ed6696d7c,HumanObservation,NaN,76.483000,16.567000,2003-04-04T12:00:00Z,NaN,NaN,1.0,All rights reserved,...,2003-05-21T12:00:00Z,"Old id:313, field activity id:40 Platform: Shi...",Norsk Polarinstitutt,NaN,ship,Lance,NaN,NaN,2020-10-20T12:00:00Z,NaN
257,275d07fc-7cd9-cd10-7731-b01ed66986f1,HumanObservation,NaN,77.102000,18.960000,2003-04-05T12:00:00Z,small group of individuals,NaN,5.0,All rights reserved,...,2003-05-21T12:00:00Z,"Old id:315, field activity id:40 Platform: Shi...",Norsk Polarinstitutt,NaN,ship,Lance,NaN,NaN,2020-10-20T12:00:00Z,individualCountCorrected
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22818,5c60fc3a-5304-1ebd-37a3-a0f83f8913a3,HumanObservation,NaN,76.972200,15.718143,NaN,NaN,NaN,NaN,All rights reserved,...,2017-08-12T12:00:00Z,NaN,PolarQuest - www.polarquest.se,NaN,NaN,M/S Stockholm,NaN,NaN,NaN,NaN
22819,7f9978a2-5f72-435f-a895-19eb998cf44e,HumanObservation,NaN,NaN,NaN,NaN,NaN,unknown,NaN,All rights reserved,...,NaN,NaN,NPI test,NaN,NaN,NaN,no,NaN,NaN,NaN
22850,4f7e06b6-4a66-4721-9cb0-878a31edeb09,HumanObservation,NaN,NaN,NaN,NaN,NaN,unknown,NaN,All rights reserved,...,NaN,NaN,test,NaN,NaN,NaN,no,NaN,NaN,NaN
22851,ef860740-d5fc-4b0a-969b-3d2c9c71a8bf,HumanObservation,NaN,72.470000,19.633330,NaN,NaN,NaN,2.0,All rights reserved,...,2014-06-30T12:00:00Z,megaptera novaeangliae,"NP Lyr/P.B. 505, 9171 Lyr",NaN,NaN,R/V Lance,NaN,NaN,NaN,NaN
22852,ef860740-d5fc-4b0a-969b-3d2c9c71d2d9,HumanObservation,NaN,76.220000,15.816700,NaN,NaN,NaN,3.0,All rights reserved,...,2014-06-30T12:00:00Z,lagenorhynchus albirostris,"NP Lyr/P.B. 505, 9171 Lyr",NaN,NaN,R/V Lance,NaN,NaN,NaN,NaN

Negasjon ved bruk av `~` (`NOT`)

## GROUP BY

Typisk å:
1. Splitte datasettet i grupper
1. Aggregere ved bruk av ulike funksjonar
1. Kombinerer gruppene igjen

```sql
SELECT 
    scientificName, 
    count(*)
FROM observations
GROUP BY scientificName;
```

Ekvivalent i pandas:

In [17]:
observations.groupby("scientificName").size()

scientificName
Balaena mysticetus             173
Balaenoptera acutorostrata    2417
Balaenoptera borealis           37
Balaenoptera musculus          517
Balaenoptera physalus         1754
Cetacea                        643
Cystophora cristata            430
Delphinapterus leucas          525
Erignathus barbatus           1714
Globicephala melas              12
Hyperoodon ampullatus           51
Lagenorhynchus acutus            8
Lagenorhynchus albirostris    1105
Megaptera novaeangliae        1183
Monodon monoceros               46
Odobenus rosmarus             3197
Orcinus orca                    81
Pagophilus groenlandicus      1190
Phoca vitulina                 572
Phocoena phocoena               52
Physeter macrocephalus         186
Pinnipedia                     639
Pusa hispida                  1050
Ursus maritimus               4565
dtype: int64

`count()` tar utfører telling på _alle_ kolonner, og returnerer alle rader som er `NOT NULL`.

In [19]:
observations.groupby("scientificName").count()

,eventID,basisOfRecord,coordinateUncertaintyInMeters,decimalLatitude,decimalLongitude,eventDate,eventRemarks,habitat,individualCount,licence,...,dynamicProperties.endDate,dynamicProperties.infoComment,dynamicProperties.organisation,dynamicProperties.otherSpecies,dynamicProperties.platform,dynamicProperties.platformComment,dynamicProperties.polarBearDen,dynamicProperties.editorComment,dynamicProperties.editorDate,dynamicProperties.editorQualityTest
scientificName,,,,,,,,,,,,,,,,,,,,,
Balaena mysticetus,173,173,0,172,171,173,137,142,173,173,...,160,170,121,0,11,165,0,1,173,8
Balaenoptera acutorostrata,2417,2417,0,2391,2391,2417,603,2119,2410,2417,...,2397,2376,359,0,483,2026,1,62,2394,222
Balaenoptera borealis,37,37,0,37,37,37,19,36,37,37,...,36,37,7,0,8,37,0,0,37,2
Balaenoptera musculus,517,517,0,500,500,517,251,431,517,517,...,486,500,235,0,23,500,2,2,512,82
Balaenoptera physalus,1754,1754,0,1737,1737,1752,392,1570,1754,1754,...,1726,1738,338,0,404,1465,0,5,1742,93
Cetacea,643,643,0,643,643,643,138,592,642,643,...,637,643,77,0,121,528,0,0,643,39
Cystophora cristata,430,430,0,430,430,430,360,424,429,430,...,429,430,19,0,11,430,0,2,427,6
Delphinapterus leucas,525,525,0,518,518,525,264,443,524,525,...,508,503,177,0,74,495,2,9,524,119
Erignathus barbatus,1714,1714,0,1704,1704,1714,705,1494,1710,1714,...,1711,1711,447,0,289,1666,2,22,1713,339
Globicephala melas,12,12,0,12,12,12,7,9,12,12,...,10,12,0,0,6,10,0,0,12,8
Hyperoodon ampullatus,51,51,0,51,51,51,7,48,51,51,...,48,51,8,0,12,45,0,0,51,5
Lagenorhynchus acutus,8,8,0,8,8,8,0,8,8,8,...,8,8,0,0,2,8,0,0,0,0
Lagenorhynchus albirostris,1105,1105,0,1098,1096,1103,336,944,1105,1105,...,1072,1065,141,0,245,888,0,124,1064,48
Megaptera novaeangliae,1183,1183,0,1173,1173,1181,291,1034,1183,1183,...,1168,1157,254,0,239,988,0,78,1165,63
Monodon monoceros,46,46,0,46,46,46,42,43,45,46,...,44,45,13,0,7,44,0,1,46,4
Odobenus rosmarus,3197,3197,0,3184,3184,3197,1447,2911,3188,3197,...,3084,3192,1026,0,352,3121,5,54,3182,458
Orcinus orca,81,81,0,80,80,81,37,74,81,81,...,77,81,18,0,12,74,0,1,81,34
Pagophilus groenlandicus,1190,1190,0,1180,1178,1190,599,1019,1188,1190,...,1188,1187,220,0,200,1108,0,9,1187,179
Phoca vitulina,572,572,0,570,570,572,206,514,571,572,...,554,571,195,0,24,557,0,10,570,210
Phocoena phocoena,52,52,0,50,50,52,37,50,52,52,...,51,52,7,0,5,50,0,0,0,0
Physeter macrocephalus,186,186,0,179,179,186,44,155,186,186,...,182,179,41,0,63,133,0,16,181,17
Pinnipedia,639,639,0,638,637,639,297,535,635,639,...,638,639,153,0,82,599,0,6,639,81
Pusa hispida,1050,1050,0,1040,1038,1050,505,882,1048,1050,...,1045,1046,220,0,210,1026,0,13,1049,161
Ursus maritimus,4565,4565,0,4535,4534,4564,3008,4094,4556,4565,...,4382,4551,1334,0,669,4408,2,71,4550,661

Alternativt kan ein utføre aggregeringa på enkelt-kolonner:

In [21]:
observations.groupby("scientificName")["eventID"].count()

scientificName
Balaena mysticetus             173
Balaenoptera acutorostrata    2417
Balaenoptera borealis           37
Balaenoptera musculus          517
Balaenoptera physalus         1754
Cetacea                        643
Cystophora cristata            430
Delphinapterus leucas          525
Erignathus barbatus           1714
Globicephala melas              12
Hyperoodon ampullatus           51
Lagenorhynchus acutus            8
Lagenorhynchus albirostris    1105
Megaptera novaeangliae        1183
Monodon monoceros               46
Odobenus rosmarus             3197
Orcinus orca                    81
Pagophilus groenlandicus      1190
Phoca vitulina                 572
Phocoena phocoena               52
Physeter macrocephalus         186
Pinnipedia                     639
Pusa hispida                  1050
Ursus maritimus               4565
Name: eventID, dtype: int64

Det er òg mogleg å ta i bruk fleire aggregerings-funksjonar samtidig:

```sql
SELECT 
    scientificName, avg(individualCount), count(*)
FROM observations
GROUP BY scientificName;
```

In [25]:
observations.groupby("scientificName").agg({
    "eventID": "count",
    "individualCount": "mean"
})

                            eventID  individualCount
scientificName
Balaena mysticetus              173         2.734104
Balaenoptera acutorostrata     2417         1.488382
Balaenoptera borealis            37         2.459459
Balaenoptera musculus           517         1.622824
Balaenoptera physalus          1754         2.302737
Cetacea                         643         1.954829
Cystophora cristata             430         1.769231
Delphinapterus leucas           525        24.284351
Erignathus barbatus            1714         2.834503
Globicephala melas               12         7.000000
Hyperoodon ampullatus            51         2.647059
Lagenorhynchus acutus             8         5.375000
Lagenorhynchus albirostris     1105        10.255204
Megaptera novaeangliae         1183         2.932375
Monodon monoceros                46         6.711111
Odobenus rosmarus              3197        25.686637
Orcinus orca                     81         5.049383
Pagophilus groenlandicus       1190        41.582492
Phoca vitulina                  572         9.096322
Phocoena phocoena                52         5.211538
Physeter macrocephalus          186         1.182796
Pinnipedia                      639        10.445669
Pusa hispida                   1050         7.375954
Ursus maritimus                4565         1.827261

## JOIN

In [36]:
animals = pd.read_csv("data/animals.csv")

`JOIN` kan bli utført ved `join()` eller `merge()`. I utgangspunktet vil den første joine på indeks. Kan spesifisere join-type (`LEFT`, `RIGHT`, `INNER`, `FULL`), samt kolonnene som er mogleg å joine på.

In [37]:
observations = pd.merge(observations, animals, on="scientificName")

## UNION

`pd.concat([])`

## LIMIT, OFFSET

```sql
SELECT 
    *
FROM observations
LIMIT 10;
```

Kan bruke `head(n)` for å få top `n` rader

In [39]:
observations.head(5)

,eventID,basisOfRecord,coordinateUncertaintyInMeters,decimalLatitude,decimalLongitude,eventDate,eventRemarks,habitat,individualCount,licence,...,dynamicProperties.organisation,dynamicProperties.otherSpecies,dynamicProperties.platform,dynamicProperties.platformComment,dynamicProperties.polarBearDen,dynamicProperties.editorComment,dynamicProperties.editorDate,dynamicProperties.editorQualityTest,norwegianName_x,norwegianName_y
0,275d07fc-7cd9-cd10-7731-b01ed6fec944,HumanObservation,NaN,77.625,14.800,1900-01-11T12:00:00Z,NaN,water,10.0,All rights reserved,...,NaN,NaN,NaN,ms stockholm,NaN,NaN,NaN,NaN,Hvithval,Hvithval
1,275d07fc-7cd9-cd10-7731-b01ed66b09eb,HumanObservation,NaN,77.562,15.076,2000-08-02T12:00:00Z,in 2 groups 10-20,water,1.0,All rights reserved,...,NaN,NaN,ship,Prof Multanovskiy,NaN,NaN,2020-10-20T12:00:00Z,NaN,Hvithval,Hvithval
2,275d07fc-7cd9-cd10-7731-b01ed6694577,HumanObservation,NaN,77.069,15.984,2002-08-28T12:00:00Z,Iincluding several juveniles,water,50.0,All rights reserved,...,NaN,NaN,ship,Prof Molchanov,NaN,NaN,2020-10-20T12:00:00Z,NaN,Hvithval,Hvithval
3,275d07fc-7cd9-cd10-7731-b01ed67025e2,HumanObservation,NaN,77.062,15.845,2003-06-28T12:00:00Z,NaN,water,20.0,All rights reserved,...,NaN,NaN,ship,Prof Molchanov,NaN,NaN,2020-10-20T12:00:00Z,NaN,Hvithval,Hvithval
4,275d07fc-7cd9-cd10-7731-b01ed66f6104,HumanObservation,NaN,78.649,15.253,2003-07-16T12:00:00Z,Adult group,water,5.0,All rights reserved,...,NaN,NaN,ship,Lance,NaN,Arbitrary number added,2020-10-20T12:00:00Z,individualCountCorrected,Hvithval,Hvithval